################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HR_Payroll/FileContentIndex/efabf560-b7fe-43b5-ad99-36900abf0553.vsidx
